* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
}

.sidebar {
  /* border: 2px solid red; */
  display: 300px;
  background-color: #365262;
  color: white;
  padding: 200px 20px 20px 20px;
  height: 100vh;
}
.sidebar__items {
  display: flex;
  flex-direction: column;
}

.sidebar__items a {
  color: white;
  font-size: 20px;
  margin-bottom: 40px;
  text-decoration: none;
}
h1 {
  color: #365262;
  font-size: 30px;
  font-weight: 500;
}
h2 {
  color: #365262;
  font-size: 20px;
  font-weight: 500;
}
.tab_active {
  color: #365262 !important;
  /* color: #a2a2a2; */
}
.sidebar_active a {
  text-decoration: underline !important;
}
.inner-content {
  padding-top: 70px;
  padding-left: 40px;
}
.tab-nav {
  margin-top: 70px;
  margin-bottom: 60px;
}
.tab-nav a {
  /* color: #365262; */
  color: #a2a2a2;
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
  text-decoration: none;
}
.login {
  padding-top: 70px;
  padding-left: 40px;
  line-height: 1.8rem;
}
